/* external css: flickity.css */

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: rgba(225, 101, 94, 0.2); /*#FAFAFA transparent*/
  border-radius: 3px;
}

.carousel-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: transparent; /*#333*/
  border-radius: 3px;

}

.carousel-cell-image {
  display: block;
  max-height: 100%;
  margin: 0 auto;
  max-width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
          transition: opacity 0.4s;
}

/* fade in lazy loaded image */
.carousel-cell-image.flickity-lazyloaded,
.carousel-cell-image.flickity-lazyerror {
  opacity: 1;
}

.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  background-color: rgba(225, 101, 94, 0.2);
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: -4px;
}

.flickity-rtl .flickity-page-dots { direction: rtl; }

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: rgba(225, 101, 94, 1);
  border-radius: 3px;
  opacity: 0.25;
  cursor: pointer;
  rotate: 45deg;
}