/* external css: flickity.css */

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: rgba(225, 101, 94, 0.2); /*#FAFAFA transparent*/
  border-radius: 3px;
}

.carousel-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: transparent; /*#333*/
  border-radius: 3px;

}

.carousel-cell-image {
  display: block;
  max-height: 100%;
  margin: 0 auto;
  max-width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
          transition: opacity 0.4s;
}

/* fade in lazy loaded image */
.carousel-cell-image.flickity-lazyloaded,
.carousel-cell-image.flickity-lazyerror {
  opacity: 1;
}

/* position dots up a bit */
.flickity-page-dots {
  bottom: -22px;
  
}
/* dots are lines */
.flickity-page-dots .dot {
  height: 4px;
  width: 40px;
  margin: 0;
  border-radius: 0;
  background: rgba(225, 101, 94, 1);
}

.flickity-rtl .flickity-page-dots { direction: rtl; }

